hostname="Provide a hostname that can be used to access your chef server over the internet and authenticate with knife"
project="Provide your GCP project id"
chef_server_zone="Provide the GCP zone you'd like to create your chef server on."
chef_server_name="Provide the name you'd like your chef server instance to be called. Name needs to be unique"
chef_ip_address="Provide the IP address you reserved for your chef server instance"
region="Provide the region where you created you GCP project bucket"
machine_type="This is optional but provide the machine type for you chef server instance. Note this should be n1-standard-1 and above"
chef_node_ip_address="Provide the IP address of your chef node"
chef_node_name="Provide a unique name for you chef node"
chef_node_zone="Provide the zone you'd like to create your chef node"
chef_node_machine_type="This is optional but provide the machine type for you chef node instance."
chef_node_public_ssh_key="This is an ssh key created to use to boostrap our chef node"